* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
    margin-top: 12em;
    display: grid;
    place-items: center;
    background: radial-gradient(circle at center, #fca5a5, #f95757);
}

label {
    font-size: larger;
    font-weight: bold;
}

input {
    width: 30em;
    height: 2em;
    border-color: black;
    border-radius: 3em;
    padding-left: 1em;
}

button {
    width: 4em;
    height: 2em;
    background-color: black;
    color: white;
    border-color: black;
}
